*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding-top: 0; /* Remove top padding for perfect centering */
  gap: 2rem;
}
h2 {
  padding-right: 130px;
  color: hsl(217, 19%, 35%);
}
.room {
  padding-right: 110px;
  color: hsl(212, 23%, 69%);

  font-size: 1rem;
  margin-bottom: 0;
}
.drawers {
  width: 40rem;
  height: 20rem;
  padding-left: 300px;
}
.author {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.user-pic {
  width: 60px;
  border-radius: 50%;
}
h4 {
  margin-bottom: 0;
  color: hsl(217, 19%, 35%);
}
.date {
  margin-top: 0;
  color: hsl(212, 23%, 69%);
}
.share-container {
  width: 40px;
  height: 40px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}

.share-trigger {
  cursor: pointer;
  height: 20px;
}
span {
  color: hsl(212, 23%, 69%);
}
#share-menu {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 100%;
  cursor: pointer;
  background-color: hsl(217, 19%, 35%);
  padding: 10px 20px 30px 40px;
  border-radius: 20px;
}

#share-menu::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(70%);
  border-width: 10px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
.icon-positioning {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#share-menu.active {
  display: flex;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
