*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding-top: 0; 
  gap: 2rem;
}
h2 {
  padding-right: 130px;
  color: hsl(217, 19%, 35%);
}
.room {
  padding-right: 110px;
  color: hsl(212, 23%, 69%);

  font-size: 1rem;
  margin-bottom: 0;
}
.drawers {
  width: 40rem;
  height: 20rem;
  padding-left: 300px;
}
.author {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.user-pic {
  width: 60px;
  border-radius: 50%;
}
h4 {
  margin-bottom: 0;
  color: hsl(217, 19%, 35%);
}
.date {
  margin-top: 0;
  color: hsl(212, 23%, 69%);
}
.share-container {
  width: 40px;
  height: 40px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28%;
}

.share-trigger {
  cursor: pointer;
  height: 20px;
}
span {
  color: hsl(212, 23%, 69%);
}
#share-menu {
  display: none;
  position: absolute;
  left: 47%;
  bottom: 100%;
  cursor: pointer;
  background-color: hsl(217, 19%, 35%);
  padding: 10px 20px 30px 40px;
  border-radius: 20px;
}

#share-menu::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(70%);
  border-width: 10px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
#share-menu.active {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
 @media(min-width: 1025px)and (max-width: 1230px) {  /*for firefox */
  .share-container{
    margin-left: 25%;
  }
}
 @media (max-width: 768px) { /*for tablet screen */
   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  main {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .drawers{
margin: 0 auto;
padding: 0;
  width: 60%;
}
  h2 {
    padding: 0;
    margin: 0 auto;
    max-width: 43%;
    font-size: 20px;
    text-align: justify;
  }
  .room {
    padding: 0;
   margin: 0 auto;
    text-align:left;
    font-size: 17px;
    max-width: 43.5%;
  }
   .author {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
    font-size: 15px;
    gap:1rem;
  }
  .share-container {
  z-index: 2;
  }
  #share-menu {
    width:70vw;
    left: 50%;
  transform: translateX(-50%);
    padding: 15px 20px 15px 30px;
    bottom:0;
  }
  #share-menu::after {
  display: none;
}
#share-menu.active {
  display: flex;
  gap: 4rem;
  
}
}
@media (max-width: 480px) {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.split{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  
}
.drawers{
  width: 100vw;          
  height: 70vh;        
  object-fit: cover;   /* crop & fill without distortion */
  object-position: center; }
h2{
 padding: 0;
 max-width: 75%;
}
.room{
  padding: 0;
  margin: 1rem auto ;
  font-size: 16px;
  max-width: 74%;
}
#share-menu {
  width: 100vw;
  bottom: 0;
  border-radius: 0 0 20px 20px;
 }
}
 @media (max-width: 376px){
h2{
  font-size: 16px;
  max-width: 70%;
}
.room{
  font-size: 14px;
  max-width: 74%;
}
#share-menu.active {
  display: flex;
  gap: 2rem;
  }
 }
 @media (max-width: 321px){
  h2{
    font-size: 16px;
    max-width: 80%;
  }
  .room{
    font-size: 14px;
    max-width: 86%;
  }
  #share-menu.active {
    display: flex;
    gap: 1rem;
  }
  .mich-1{
    font-size:15px;
    width: 58%;
  }
  .share-container{
    margin: 0;
  }
  .foot-share{
    letter-spacing: 3px;
  }

 }

